{:site-title       "Podcasts Notes"
 :author           "mokagio"
 :description      "Notes from interesting podcasts"
 :site-url         "http://mokagio.github.io/podcasts-notes"
 :post-root        "posts"
 :tag-root         "tags"
 :page-root        "pages"
 :blog-prefix      "/podcasts-notes"
 :rss-name         "feed.xml"
 :rss-filters      ["cryogen"]
 :recent-posts     5
 :post-date-format "yyyy-MM-dd"
 :sass-src         nil
 :sass-dest        nil
 :resources        ["css" "js" "404.html"]
 :keep-files       [".git"]
 :disqus?          true
 :disqus-shortname "podcasts-notes"
 :ignored-files    [#"\.#.*" #".*\.swp$"]}
